@import '../UI/theme.scss';
$bule-color: #0a56bb;
$orange-color: #faa534;
$main-padding: 40px 0;
$transition-style:0.5s all ease-in;
$transition-style-alt:0.3s all ease-in;
$shadow-style:0px 0px 5px 0px rgba(0, 0, 0, 0.58);
// $hover-shadow:0px 3px 15px 0px rgba(0, 0, 0, 0.438);
$hover-shadow:0 5px 10px rgba(0, 0, 0, 0.28);
$font-normal: Montserrat;
$font-bold: Montserrat;

$primary-color: #0A56BB;
$secondary-color: #faa534;
$white-color: #ffffff;
$white-light-color: #F9F9F9;
$gray-color: #707070;
$blue-dark-color:#002955;
$gray-dark-color: #242A3A;
$gray-light-color: #535353;
$dark-color: #404040;
$border-light-color: #D6D6D6;
$section-padding: 50px 0;
$main-padding: 40px 0;
$text-center: center;
$text-right: right;
$text-left: left;
$text-transform-uppercase: uppercase;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight: bold;
$font-weight-normal: normal;
$font-lato: 'Lato', sans-serif;
$font-semi-bold: 'Montserrat';
$border-color-grey: #bdbdbd;
$border-style-dashed: dashed;
$border-style-solid: solid;
$border-width-1: 1px;
$border-radius-3: 3px;
$border-radius-4: 4px;
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-0: 0;
$display-inline-block: inline-block;
$display-flex: flex;
$display-none: none;
$display-block: block;
$justify-content-between: space-between;
$justify-content-evenly: space-evenly;
$justify-content-around: space-around;
$justify-content-start: flex-start;
$justify-content-end: flex-end;
$justify-content-center: center;
$align-items-center: center;
$align-items-end: flex-end;
$align-items-start: flex-start;
$flex-direction-row: row;
$flex-direction-column: column;
$flex-1: 1;
$flex-wrap: wrap;
$cursor-pointer: pointer;
$pointer-events-none: none;
$margin-0: 0;
$margin-top-0: 0;
$margin-bottom-0: 0;
$margin-right-0: 0;
$margin-left-0: 0;
$padding-0: 0;
$padding-top-0: 0;
$padding-bottom-0: 0;
$padding-right-0: 0;
$padding-left-0: 0;
$border-none: none;
$border-top-none: none;
$border-bottom-none: none;
$border-right-none: none;
$border-left-none: none;
$list-style-none: none;
$width-100: 100%;
$height-auto: auto;
$background-no-repeat: no-repeat;
$background-position-center: center;
$background-size-100: 100% 100%;
$background-none: none;
$position-relative: relative;
$position-absolute: absolute;
$bottom-0: 0;
$top-0: 0;
$left-0: 0;
$right-0: 0;
$box-shadow-none: none;
$line-height-0: 0;
$float-left: left;
$outline-none: none;
$none: none;
$zero: 0;
$auto: auto;