@import '../../styles/main.scss';

.checkout-container {
    .col-right {
        .customer-care {
            margin-top: 15px;
            .heading {
                font-size: $font-size-20;
                text-transform: $text-transform-uppercase;
                color: #606060;
                margin-bottom: 18px;
            }
            p {
                display: $display-flex;        
                align-items: $align-items-center;
                margin-bottom: 15px;
                font-size: $font-size-17;
                font-weight: $font-weight;
                margin-left: 15px;       
                img {
                    margin-right: 23px;
                }
                a {
                    color: $primary-color;
                    &:hover,
                    &:focus,
                    &:active {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}